@charset "UTF-8";

/* 추가 시작 */
@font-face {
      src : url("../fonts/BMJUA_ttf.ttf"); 
      font-family: "jua";
}
#header1 {
	margin: 20px 10px 40px 10px;
	font-family: "jua";
	font-size: 60px;
	text-shadow: 3px 3px 8px gray;
	text-align: center;
}
#table {
	margin: 20px 50px 20px 50px;
	width: 40%;
	float: left;
}
#image {
	margin: 20px 50px 20px 50px;
	width: 40%;
	float: right;
}
#before {
	background-color: #FDF2EE;
	text-align: center;
	clear: both;
}

/* 추가 끝 */

#header2 {
	margin: 20px 10px 40px 10px;
	font-family: "Freestyle Script", "Mistral";
	font-size: 60px;
	text-shadow: 3px 3px 8px gray;
	text-align: center;
}

body {
	color: black;
	font-family: '맑은 고딕', '돋움', '고딕';
}

div {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	text-align: center;
}

ul {
	list-style: none;
	text-align: left;
	background-color: #FDF2EE;
	margin-left: 20px; margin-right: 20px;
	padding-top: 20px; padding-bottom: 20px;
}

#sect {
	background-color: #FDF2EE;
	text-align: center;
	margin: 20px;
	padding: 20px
}

a {
	text-decoration: underline;
	text-align: center;
	color: #0000a0;
}

table {
	border-collapse: collapse;
	width: 100%
}

th{
	border: 1px solid lightgray;
	padding: 5px;
	width: 30%
}

td {
	border: 1px solid lightgray;
	padding: 5px;
	width: 70%
}


